fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.0
alembic
psycopg2-binary
pytest
httpx
pytest-asyncio
aiogram>=3.10,<4
google-generativeai
pandas
openpyxl

email-validator
